<!-- Botões na Navbar -->
<!-- Botão Inicio -->
<ul class="nav nav-pills nav-tabs navbar-inverse bg-inverse">
    <li class="nav-item" style="border-width: medium; background: #3f8dbf;" >
        <a class="nav-link" href="paginaInicial.php"><font color="#00000"><b>Inicio</b></font></a>
    </li>
    <!-- Dropdown do botão AGENDA -->
    <li class="dropdown">
        <a href="agendar.php" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Agenda
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="agendar.php">
                    <span class="glyphicon glyphicon-book" aria-hidden="true">
                    </span> Agendar</a></li>
            <li><a href="visualizar.php">Visualizar</a></li>
        </ul>
    </li>
    <!-- Botão Contato -->
    <li class="nav-item">
        <a class="nav-link" href="Usuarios.php">Usuarios</a>
    </li>
</ul>