<!-- Botões na Navbar -->
<!-- Botão Inicio -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navBar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a href="paginaInicial.php" class="navbar-brand">Home</a>
        </div>  
        <div class="collapse navbar-collapse" id="navBar">
        <ul class="nav navbar-nav">
    <!-- Dropdown do botão AGENDA -->
    <li class="dropdown">
        <a href="agendar.php" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Agenda
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="agendar.php">
                    <span class="glyphicon glyphicon-book" aria-hidden="true">
                    </span> Agendar</a></li>
            <li><a href="visualizar.php">Visualizar</a></li>
        </ul>
    </li>
    <!-- Botão Usuários -->
    <li class="nav-item">
        <a class="nav-link" href="Usuarios.php">Usuarios</a>
    </li>
        </ul>
    </div>
</div>
</nav>